{% extends "base.html" %}

{% block message %}
	{% if messages %}
		<div class="alert alert-warning alert-dismissible fade in" role="alert">
	        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
	        </button>
			<ul class="messages">
			    {% for message in messages %}
			    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
			    {% endfor %}
			</ul>
	</div>
	{% endif %}
{% endblock %}

{% block content %}
<div class="col-md-6 col-sm-6 col-xs-12">
	<div class="x_panel">
	  <div class="x_title">
	    <h2>Staff Search</h2>
	    
	    <div class="clearfix"></div>
	  </div>
	  <div class="x_content">
	    <br /> 
	    <p class="font-gray-dark">
	      Enter contact number below.
	    </p>
	    <form action="/staffsearch/" method="post">{% csrf_token %}
	      <div class="form-group">
	        <div class="col-md-7">
	          {{form.as_p}}
			<input type="submit" value="submit">
	        </div>
	      </div>  
	    </form>                             
	  </div>
	</div>
	{% if name %}
	<div class="col-md-6 col-sm-6 col-xs-12 x_panel">
		<div class=" profile_view">
		  <div class="col-sm-12">
		    <h4 class="brief"><i>{{name}}</i></h4>
		    <div class="left col-xs-7">
		      <!-- <h2><strong>Name: </strong>{{name}}</h2> -->
		      <!-- <p><strong>Email: </strong> {{memberEmail}} </p>
		      <p><strong>Registration Date: </strong> {{registrationDate}} </p> -->
		      <ul class="list-unstyled">
		        <li><i class="fa fa-home"></i><strong> Address:</strong> {{staffAddress}}  </li>
		        <li><i class="fa fa-map-marker"></i><strong> City:</strong> {{staffCity}}  </li>
		        <li><i class="fa fa-info"></i><strong> Pincode:</strong> {{staffPincode}}  </li>
		        <li><i class="fa fa-users"></i><strong> Gender:</strong> {{staffGender}}  </li>		        
		        <li><i class="fa fa-check"></i><strong> Staff ID:</strong> {{staffId}}  </li>
		      </ul>
		    </div>
		    <div class="right col-xs-5 ">
		     <ul class="list-unstyled">
		     	<li><i class="fa fa-phone-square"></i><strong> Contact Number: </strong>{{staffContactNumber}}  </li>
		        <li><i class="fa fa-phone"></i><strong> Emergency Number:</strong> {{staffEmergencyNumber}}  </li>
		        <li><i class="fa fa-envelope"></i><strong> Email:</strong> {{staffEmail}} </li>
		     	<li><i class="fa fa-star"></i><strong> Registration Date:</strong>  {{registrationDate}}  </li>
		       
		      </ul>

		    </div>
		  </div>
		  
		</div>
	</div>
	{% endif %}
</div>

<div class="col-md-6 col-sm-6 col-xs-12">
	<div class="x_panel">
	  <div class="x_title">
	    <h2>Member Stats </h2>
	    <!-- <ul class="nav navbar-right panel_toolbox">
	      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
	      </li>
	     
	      <li><a class="close-link"><i class="fa fa-close"></i></a>
	      </li>
	    </ul> -->
	    <div class="clearfix"></div>
	  </div>
		<div class="x_content">
		<table class="countries_list table table-striped">
            <tbody>
              <tr>
                <td>Total Registered Staffs</td>
                <td class="fs15 fw700 text-right">{{totalNumberOfstaffs}}</td>
              </tr>
              <tr>
                <td>Active Staffs</td>
                <td class="fs15 fw700 text-right">{{totalActivestaffs}}</td>
              </tr>
              <tr>
                <td>Total Male</td>
                <td class="fs15 fw700 text-right">{{maleCount}}</td>
              </tr>
              <tr>
                <td>Total Female</td>
                <td class="fs15 fw700 text-right">{{femaleCount}}</td>
              </tr>
              <tr>
                <td>New Staffs (last 30 days)</td>
                <td class="fs15 fw700 text-right">{{newstaffs}}</td>
              </tr>
            </tbody>
          </table>
	  </div>
	</div>

</div>      
{% endblock %}